.nav-search {
    width: 350px;
}

.right-nav {
    padding: 0.5em 0px;
}

.search-form {
    padding: 0px;
    background-color: white;
    border-radius: 4px;
}

.search-field__holder {
    display: flex;
    -webkit-box-align: stretch;
    align-content: stretch;
    border: 1px solid #e6e9ee;
    overflow: hidden;
    position: relative;
    min-height: 30px;
    cursor: pointer;
    border-radius: 4px;
}

.search-field__holder .search-field__input {
    border-radius: 0;
    border: none;
    box-shadow: none;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    letter-spacing: 0.25px;
    background: white;
    width: 400px;
    height: auto;
    padding: 0px 15px; 
    font-family: "Roboto";
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    -webkit-transition: width 150ms, padding 150ms;
    transition: width 150ms, padding 150ms;
    
}

.search-field__holder .search-field__submit {
    border: none;
    box-shadow: none;
    width: 36px;
    color: #bec7d4;
    font-size: 16px;
    padding: 0;
    display: block;
    text-align: center;
    background: white;
    -webkit-transition: color 150ms;
    transition: color 150ms;
}