<div class="container-fluid">
    <article class="profile">
        <div class="row" *ngIf="User"> 
            <header class="profileHeader">
                <div class="profilePictureWrapper1 col-sm-3 col-sm-offset-1">
                    <div class="profilePictureWrapper2">
                        <button class="changeProfilePicture" title="Change profile photo">
                            <img [src]="UserPictureURL" alt="Description" />
                        </button>
                    </div>
                </div>
                <div class="profileDetails col-sm-8">
                        <div><h1 id="profileName"> {{UserFirstName}} {{UserLastName}}</h1></div>
                        <div><a class="editProfileForm" href="/accounts/edit">
                            <span><button>Edit Profile</button></span></a>
                        </div>
                        <div class="dotdotdot"><a class="btn btn-default btn-sm" href="#"><i class="fa fa-cog"></i> Settings</a></div>
                </div> 
            </header>
        </div>
    </article>
    <article class="profile">
        <div class="row">
            <div class="col-sm-12 myLibrary md-app-background">  
                <md-tab-group color="primary" layout-align="center end" style="min-height: 500px" layout="column"> 
                    <md-tab class="libTab" label="My Library">
                        <ul *ngIf="Library" style="list-style:none">
                            <li *ngFor="let myBook of Library"><book [book]="myBook"></book></li>
                        </ul>
                    </md-tab>
                    <md-tab class="libTab" label="Lent Out">Content 2</md-tab>
                </md-tab-group>
                

            </div>
        </div>   
    </article>   
    
</div>