.searchContainer {
  width: 100%;
  vertical-align: middle;
  text-align: left;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.searchContainer .icon{
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.searchContainer input#bookSearchBox::-webkit-input-placeholder {
   color: #65737e;
}
 
.searchContainer input#bookSearchBox:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.searchContainer input#bookSearchBox::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.searchContainer input#bookSearchBox:-ms-input-placeholder {  
   color: #65737e;  
}

.searchContainer input#bookSearchBox:hover, .searchContainer input#bookSearchBox:focus, .searchContainer input#bookSearchBox:active{
    outline:none;
  }

.searchContainer input#bookSearchBox {
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    margin: 0 auto;
    font-size: 10pt;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

/* SEARCH RESULTS STYLING */

.bookSearchDisplay {
    margin-top: 40px;
}

.bookSearchDisplay p, h1, h2, h4 {
    margin-top: 10px;
}
