
<div class="container">
  <div class="row">
    <div class="col-lg-12 searchContainer">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input id="bookSearchBox" type="text" name="BookSearch" placeholder="Search by ISBN" #searchBox (keyup.enter)="findBookOnGoodReads(searchBox.value)">
    </div>
  </div>
  <div class="row">
    <div class="bookSearchDisplay" *ngIf="searchResult">
      <img [src]="srimageURL" alt="Description" />
      <h4>Title: {{srTitle}} </h4>
      <h4>Author: {{srAuthor}} </h4>
      <p>{{srDescription}}</p>
    </div>
  </div>
</div>
